<h1 class="mat-h1">Điểm danh</h1>

<mat-list>
  <mat-list-item class="match-item">
    <mat-icon mat-list-icon>folder</mat-icon>
    <div mat-line><span class="item match-name">Trận bóng nội bộ</span></div>
    <div mat-line><span class="item">{{match.pitch.name}} - {{match.pitch.address}}</span></div>
    <div mat-line><span class="item">{{match.dateTime}}</span></div>
    <span class="example-spacer"></span>
    <button mat-flat-button color="primary" class="join-button" (click)="checkIn(true)">Tham gia</button>
    <button mat-flat-button color="warn" class="join-button" (click)="checkIn(false)">Vắng</button>
  </mat-list-item>
</mat-list>

<div class="bounds">
  <div class="content" fxLayout="row" fxLayout.sm="column" fxFlexFill>
    <div fxFlex="50" class="sec1">
      <mat-list>
        <div mat-subheader>Tham gia ({{countJoin}})</div>
        <div *ngFor="let checkin of checkins">
          <mat-list-item *ngIf="checkin.wasJoin===true">
            <mat-icon mat-list-icon>note</mat-icon>
            <div mat-line>{{checkin.player.name}}</div>
          </mat-list-item>
        </div>
      </mat-list>
    </div>
    <div fxFlex="50" class="sec2">
      <mat-list>
        <div mat-subheader>Vắng ({{countReject}})</div>
        <div *ngFor="let checkin of checkins">
          <mat-list-item *ngIf="checkin.wasJoin===false">
            <mat-icon mat-list-icon>note</mat-icon>
            <div mat-line>{{checkin.player.name}}</div>
          </mat-list-item>
        </div>
      </mat-list>
    </div>
  </div>
</div>
