<h1 class="mat-h1">Điểm danh</h1>

<mat-list>
  <div *ngFor="let match of matches">
    <mat-list-item class="match-item" [routerLink]="['/check-in',match.id]">
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line><span class="item match-name">Trận bóng nội bộ {{match.id}}</span></div>
      <div mat-line><span class="item">{{match.pitch.name}} - {{match.pitch.address}}</span></div>
      <div mat-line><span
        class="item">{{dateFormat(match.dateTime)}}</span>
      </div>
      <span class="example-spacer"></span>
      <div *ngIf="match.status==='OPEN_CHECK_IN'" class="open-checkin">ĐANG ĐIỂM DANH</div>
      <div *ngIf="match.status==='CLOSE_CHECK_IN'" class="close-checkin"> ĐÓNG ĐIỂM DANH</div>
      <div *ngIf="match.status==='FINISH'" class="finish">ĐÃ THI ĐẤU</div>
      <div *ngIf="match.status==='CANCEL'" class="cancel">HUỶ</div>
    </mat-list-item>
  </div>
  <mat-paginator [length]="total"
                 [pageSize]="size"
                 [pageSizeOptions]="options"
                 (page)="pageEvent = getDataServer($event)">
  </mat-paginator>
</mat-list>
